.containerB {
  width: 100%;
  //MD
  @include md {
    width: 70%;
  }
  //LG
  @include lg {
    width: 100%;
  }
  .displayIMG-container {
    width: 100%;
    height: $containerB-sm-height;
    border-radius: 1rem;
    box-shadow: 0 0 9.8px 0 rgba(153, 153, 153, 0.6);
    overflow: hidden;
    //MD
    @include md {
      height: $containerB-md-height;
    }
    //LG
    @include lg {
      height: $containerB-lg-height;
    }

    .layer-bgc {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      aspect-ratio: 16/9;
      z-index: -1;
      transition: all 0.4s;
    }
    .product-layer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      aspect-ratio: 16/9;
      .product-image {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  &-btn {
    position: absolute;
    right: .5rem;
    top: .5rem;
    display: flex;
    gap: .6rem;
    .clearBtn {
      background-color: #fff;
      box-shadow: 0 0 9.8px 0 rgba(153, 153, 153, 0.5);
      border-radius: 2rem;
      border: 2px solid transparent;
      padding: .6rem 1rem;
      z-index: 100;
      letter-spacing: 1px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        scale: 1;
        //MD
        @include md {
          scale: 1.1;
        }
      }
      &:active {
        scale: 0.7;
      }
    }
    .download-btn {
      display: none;
      //MD
      @include lg {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        background-color: #fff;
        box-shadow: 0 0 9.8px 0 rgba(153, 153, 153, 0.5);
        border-radius: 2rem;
        border: 2px solid transparent;
        padding: .6rem 1rem;
        z-index: 100;
        background-image: url('../../images/download.png');
        background-position: center;
        background-size: 45%;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          scale: 1;
          //MD
          @include md {
            scale: 1.1;
          }
        }
        &:active {
          scale: 0.7;
        }
      }
    }
  }

  .bgcChanger {
    width: 100%;
    padding: 0 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-btn {
      width: 1.8rem;
      height: 1.8rem;
      box-shadow: 0 0 9.8px 0 rgba(153, 153, 153, 0.5);
      border-radius: 4rem;
      border: 2px solid transparent;
      cursor: pointer;
      transition: 0.2s;
      background-color: #fff;
      background-size: 50%;
      background-repeat: no-repeat;

      &:first-of-type {
        background-image: url('../../images/left-arrow.png');
        background-position: 45% 50%;
      }

      &:nth-of-type(2) {
        background-image: url('../../images/right-arrow.png');
        background-position: 55% 50%;
      }

      &:active {
        scale: 0.7;
      }

    }
  }
  
}
