// Main.scss
.main {
  width: 100%;
  height: 100vh;

  &-inner {
      width: 100%;
      height: calc(100vh - $navbar-height);
      padding: 0 1.25rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      //MD
      @include md {
      flex-direction: column-reverse;
        padding: 0 1rem;
      }
      //SM
      @include sm {
        padding:0;
      }
      .containerA {
        width: 54%;
        height: 100%;
        padding: 1rem;
        overflow: auto;
        @include scrollbar-style(1px, transparent);
        //MD
        @include md {
        width: 100%;
        }
        //SM
        @include sm {
        }
      }

      .container-for-BC {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        //MD
        @include md {
          width: 100%;
          height: auto;
          flex-direction: row;
          justify-content: space-between;
          padding-bottom: 1.25rem;
        }
        //SM
        @include sm {
          width: 100%;
          flex-direction: column;
        }
      }
    }
}


