//Navbar.scss
.navbar {
  width: 100vw;
  height: $navbar-height;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background-color: #fff;
  
  ul {
    margin: 0 auto;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 9.8px 0 rgba(153, 153, 153, 0.3);
    background-color: #fff;
  }
  
  &-logo {
    margin-top: .5rem;
    a {
      font-size: 2rem;
      font-weight: 100;
      font-family: 'Great Vibes', cursive;
      color: #A99374;
    }
  }
  &-options {
    display: none;
    //MD
    @include md {
      display: flex;
      margin-top: .5rem;
      gap: 2rem;
      a {
        font-size: 1.1rem;
        font-weight: 100;
        letter-spacing: 1px;
        &:hover {
          opacity: .6;
        }
        &:active {
          scale: 0.8;
        }
      }
    }
  }

  &-burger-btn {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0%,-50%);
    width: 1.8rem;
    height: 1.8rem;
    background-color: #000;

    &:active {
      scale: 1.1;
    }
    //MD
    @include md {
      display:none;
    }
  }

}
