//Navbar.scss
.navbar {
  width: 100vw;
  height: $navbar-height;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.25rem;
  //SM
  @include sm {
    padding: 0 1rem;
  }
  ul {
    width: 100%;
    padding: 1rem 2.25rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 9.8px 0 rgba(153, 153, 153, 0.3);
    background-color: #fff;
    //SM
    @include sm {
      padding-top: 1.5rem;
      padding: 1rem 1.5rem;
    }
  }
  &-logo {
    margin-top: .5rem;
    a {
      font-size: 2rem;
      font-weight: 100;
      font-family: 'Great Vibes', cursive;
      color: #A99374;
      //SM
      @include sm {
        font-size: 1.8rem;
      }
    }
    //SM
    @include sm {margin-top: 0;}
  }
  &-options {
    display: flex;
    margin-top: .5rem;
    gap: 2rem;
    a {
      font-size: 1.1rem;
      font-weight: 100;
      letter-spacing: 1px;
      &:hover {
        opacity: .6;
      }
      &:active {
        scale: 0.8;
      }
    }
    //SM
    @include sm {
      display: none;
    }
  }

}
