//Navbar.scss
.navbar {
  width: 100vw;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.25rem;
  ul {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 2.25rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 9.8px 0 rgba(153, 153, 153, 0.3);
    background-color: #fff;
  }
  &-logo {
    margin-top: .5rem;
    a {
      font-size: 2rem;
      font-weight: 100;
      font-family: 'Great Vibes', cursive;
      color: #A99374;
    }
  }
  &-options {
    display: flex;
    margin-top: .5rem;
    gap: 2rem;
    a {
      font-size: 1.1rem;
      font-weight: 100;
      letter-spacing: 1px;
      &:hover {
        opacity: .6;
      }
      &:active {
        scale: 0.8;
      }
    }
  }

}
