.layer-container {
  cursor: grab;
  &:active {
    cursor: grabbing;
    opacity: 0.5;
  }
}

.layer-position {
  position: absolute;
  bottom: 12%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


