.layer-container {
  cursor: grab;
  &:active {
    cursor: grabbing;
    opacity: 0.5;
  }
}
.main-board-1 {
  position: absolute;
  top: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-board-2 {
  position: absolute;
  top: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


