//rwd
$md-up : 1200px;
$sm-up : 780px;
//components height
$navbar-height: 4rem;
$containerB-sm-height: calc((100vw - 2rem) * 9 / 16);
$containerB-md-height: calc((70vw - 2rem) * 9 / 16);
$containerB-lg-height: calc((50vw - 2rem) * 9 / 16);
